/*<!--Responsive Design-->*/
/*===== Variable Define =====*/
:root {
    --primary-color: #FFC222;
    --secondry-color: #00a149;
    --white-color: #fff;
    --text-color: #b0b0b0;
    --black-color: #1E1D23;
  }
@media (min-width: 992px) and (max-width:1200px){
    .explore-food .card{
        min-height: 450px;
    }
    .explore-food .card .card-body .card-title {
        height: 70px;
    }
}  
@media (max-width: 991px) {
    /*custom classes  */ 
    .text-content{
        width:100%;
    }
    /* navbar brand */ 
    .navigation-wrap .navbar-brand img{
        height:3.8125rem
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .navbar-collapse{
        background-color: var(--secondry-color);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
        color:var(--white-color);
    }
    .navigation-wrap.scroll-on .nav-link{
        color: var(--white-color);
    }
    /* Banner Design */ 
    .top-banner{
        padding:9.375rem 0 9.375rem;
    }
    /* carousel design */ 
    .testimonial-section .carousel-caption p{
        padding:0;
    }
    /* footer link */
    .footer .footer-social a i{
        padding:0 0.75rem;
    }
}
@media (max-width:768px) {
    #btnUp {
        width: 36px;
        height: 36px;
        bottom: 15px;
        right: 15px;
    }
    #btnUp::after {
        font-size: 16px;
        line-height: 36px;
    }
    .explore-food .card .card-body .card-title {
        height: 70px;
    }
}
@media (max-width: 767px) {
    /* custom css */
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.3rem;
        line-height: 28px;
    }
    .wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    /* top banner */ 
    .top-banner{
        padding:10.375rem 0 9.375rem;
    }
    /* explore-food */
    .explore-food h3{
        font-size: 2.3rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .explore-food .card .card-body{
        min-height: 230px;
    }
    .explore-food .card .card-body .card-title{
        height: 60px;
        text-align: center;
    }
    .explore-food .card .card-body .card-text{
        text-align: center;
    }
    .card_bottom{
        display: block;
        text-align: center;
    }
    .explore-food .card a img {
        width: 100%;
    }
    /* carousel design */
    .testimonial-section h4{
        font-size: 2.3rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 28px;
        margin-bottom: 20px;
    } 
    .testimonial-section .carousel-item{
        padding:11rem 3.125rem;
    }
    .footer {
        padding: 20px 0;
    }
    .footer .footer-social{
        padding-bottom: 15px;
        text-align: center;
    }
    
}
@media (max-width:330px) {
    /* carousel design */
    .testimonial-section .carousel-item{
        padding:13rem 3.125rem;
    }
}