/* 
===================================

  /*  Font Family Start Here /

  1. font-family: 'Roboto', sans-serif;
  2. font-family: 'Quicksand', sans-serif;

===================================
*/
@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Quicksand/quicksand-light-webfont.woff2') format('woff2'),
       url('../fonts/Quicksand/quicksand-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Quicksand/quicksand-regular-webfont.woff2') format('woff2'),
       url('../fonts/Quicksand/quicksand-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Quicksand/quicksand-medium-webfont.woff2') format('woff2'),
       url('../fonts/Quicksand/quicksand-medium-webfont.woff') format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Quicksand/quicksand-bold-webfont.woff2') format('woff2'),
       url('../fonts/Quicksand/quicksand-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto/roboto-black-webfont.woff2') format('woff2'),
       url('../fonts/Roboto/roboto-black-webfont.woff') format('woff');
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/*===== Variable Define =====*/
:root {
  --primary-color: #FFC222;
  --secondry-color: #00a149;
  --white-color: #fff;
  --text-color: #b0b0b0;
  --black-color: #1E1D23;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
  background-color: var(--white-color);
}

/*
=========================================
    Custom Scrollbar
=========================================
*/
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondry-color);
}
/*
==========================================
   Custom CSS Design
==========================================
*/
h1 {
  font-size: 58px;
  font-weight: 900;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white-color);
  text-shadow: 1px 0 6px #000;
}
h1 span {
  color: var(--primary-color);
}
h2 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  color: var(--secondry-color);
  line-height: 3rem;
}
h3{
  font-family: 'Quicksand', sans-serif;
  color: var(--secondry-color);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
h4 {
  color: var(--secondry-color);
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
h5 {
  color: var(--black-color);
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}
.main-btn {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--black-color);
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.wrapper {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}
.text-content {
  width: 70%;
  margin: auto;
}
.fs-32{
  font-size: 32px;
}
.fs-28{
  font-size: 28px;
}
.fs-24{
  font-size: 24px;
}
/*
==========================================
   Header Design
==========================================
*/
.navigation-wrap{
  position:fixed;
  width:100%;
  left:0;
  z-index:1000;
  transition:all 0.3s ease-out;
}
.navigation-wrap .nav-item{
  padding:0 0.625rem;
  transition:all 0.3s linear;
} 
.navbar-toggler:focus{
  outline:unset;
  border:unset;
  box-shadow: none;
}
.nav-link{
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color:var(--white-color);
  letter-spacing:1px;
}
.nav-link:hover,
.nav-link.active{
  color:var(--primary-color) !important;
}
.navigation-wrap .main-btn{
  padding:0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left:0.625rem;
}
/* Change Navbar Styling on Scroll */
.navigation-wrap.scroll-on{
  position:fixed;
  background-color:var(--white-color);
  top:0;
  left:0;
  width:100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.25);
  transition: all 0.15s ease-in-out 0s;
}
.navigation-wrap.scroll-on .nav-link{
  color:var(--black-color);
}
.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active{
  color:var(--primary-color);
}
/*
==========================================
   top-banner Design
==========================================
*/
.top-banner{
  width:100%;
  background:url('../images/bg/bg-1.webp') no-repeat center;
  background-size: cover;
  padding:16.875rem 0 9.375rem;
}
.top-banner p{
  color:var(--white-color);
}
/*
==========================================
  Our-Menu Design
==========================================
*/
.our-menu .card{
  border:none;
}
.our-menu .link_category_product{
  position:relative;
  display:block;
  z-index:1;
} 
.our-menu .link_category_product::before{
  position:absolute;
  content:'';
  top:50%;
  left:50%;
  width:100%;
  height:100%;
  border-radius: 50%;
  border:2px dotted var(--secondry-color);
  z-index:-1;
  transform:translateX(-50%) translateY(-50%) scale(0);
  background:var(--primary-color);
  -webkit-transition:all .4s ease;
  -moz-transition:all .4s ease;
  -ms-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
}
.card:hover .link_category_product::before{
  transform:translateX(-50%) translateY(-50%) scale(1);
}
.our-menu .cat-title a{
  text-align: center;
  font-size: 0.8125rem;
  position:relative;
  display:inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color:var(--black-color);
}
.card:hover .cat-title a{
  color:var(--primary-color);
}
/*
==========================================
 about section Design
==========================================
*/
.about-section{
  background:var(--black-color);
}
.about-section .card,
.about-section .card img{
  border-radius: 0.625rem;
}
.about-section .text-sec{
  padding-left:2rem;
}
.about-section h3{
  color: var(--white-color);
}
/*
==========================================
 food type section Design
==========================================
*/
.food-type{
  padding-top:3.25rem;
}
.food-type ul li{
  font-size: 1rem;
  color:var(--text-color);
  line-height: 32px;
  position:relative;
  margin-left:30px;
}
.food-type ul li::before{
  position:absolute;
  left:-2.1875rem;
  color:var(--primary-color);
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content:'\f00c';
  display:inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
/*
==========================================
 explore food section Design
==========================================
*/
.explore-food .card{
  border: none !important;
  background-color:transparent;
  border-radius: 0.9375rem;
  min-height: 480px;
  box-shadow: 0 0 3px 0 rgb(0,0,0,0.25);
  display: block;
  overflow: hidden;
}
.explore-food .card .card_image{
  position: relative;
  overflow: hidden;
}
.explore-food .card a img{
  border-radius: 15px 15px 0 0;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.explore-food .card .card_image:hover img{
  transform: scale(1.1);
}
.explore-food .card .card-body{
  height: 200px;
}
.explore-food .card .card-body .card-title{
  height: 50px;
}
.explore-food .card .card-body .card-text p{
  color:var(--black-color);
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.explore-food .card a h4{
  color: var(--black-color);
  transition: 0.3s ease-in-out;
}
.explore-food .card a h4:hover{
  color: var(--primary-color);
}
.explore-food .card span{
  display:block;
  font-size: 1.5rem;
  font-weight: 700;
  color:var(--primary-color);
  padding-bottom: 1rem;
  border-bottom:0.0625rem solid #eee;
}
.explore-food p{
  color:var(--black-color);
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.explore-food .card .main-btn{
  cursor: pointer;
}
.explore-food .card .main-btn:hover{
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
  color: var(--black-color) !important;
}
/*
==========================================
 testimonial section Design
==========================================
*/
.testimonial-section{
  background: var(--secondry-color);
}
.testimonial-section h4{
  color:var(--white-color);
}
.testimonial-section .carousel-item{
  margin-top: 3rem;
  padding: 10rem 3.125rem;
  background-color: hsl(146deg 100% 9%);
  border-radius: 0.9375rem;
  text-align: center;
}
.testimonial-section .carousel-caption img{
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.3125rem;
}
.testimonial-section .carousel-caption p{
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 300;
  color:var(--white-color);
  padding:0 11% 0.625rem;
  font-family: 'Quicksand',sans-serif;
}
.testimonial-section .carousel-caption h5{
  color: var(--white-color);
}
.testimonial-section .carousel-indicators{
  bottom: -2.8125rem;
}
.testimonial-section .carousel-indicators button{
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right:1rem;
  opacity:0.2;
}
.testimonial-section .carousel-indicators button.active{
  opacity:1;
}
/*
==========================================
footer section Design
==========================================
*/
.footer{
  background: var(--black-color);
  padding: 3rem 0;
}
.footer .footer-social a{
  background: var(--primary-color);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 25%);
  width: 48px;
  height: 48px;
  padding: 0 15px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-social a i{
  font-size: 1.2rem;
  color:var(--white-color);
  transition: 0.3s ease-in-out;
}
.footer .footer-social a:hover{
  background-color: #00a149;
}
.footer .footer-social a:hover i{
  color: var(--white-color);
  transform: rotate(360deg);
}

/* Form Control */
.newsletter form{
  width: 800px;
  max-width: 100%;
}
.newsletter .form-control{
  height:3.225rem;
  padding:0 1.25rem;
  font-size: 0.875rem;
  width:100%;
  border-radius: 0;
  background:transparent;
  color: var(--black-color);
  font-weight: 700;
}
.newsletter .form-control::placeholder{
  color: var(--text-color);
}
.newsletter .main-btn{
  height:3.225rem;
  padding:0 1.25rem;
  font-size: 0.875rem;
  border-radius: 0;
  background-color: var(--white-color);
  border:0.1875rem solid var(--white-color);
  color:var(--black-color);
  font-weight: 700;
}
.newsletter:hover .form-control{
  color:var(--white-color)
}
.newsletter:hover .main-btn{
 background:var(--primary-color); 
 border:0.1875rem solid var(--primary-color);
}
.newsletter .form-control:hover,
.newsletter .form-control:focus{
  outline:none;
  box-shadow: none;
  border-color:var(--primary-color);
}
.footer .footer-copy .copyright p a{
  color: var(--primary-color);
}

/* Back to Top Button */
#btnUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
  transition: background-color .3s, opacity .5s, visibility .5s;
}
#btnUp::after {
  content: "\f077";
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 1.5rem;
  color: var(--white-color);
}
#btnUp:hover {
  cursor: pointer;
  background-color: var(--secondry-color);
}
#btnUp:active {
  background-color: var(--secondry-color);
}
#btnUp.show {
  opacity: 1;
  visibility: visible;
}